<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="1">
          <header class="page-header">
            <h1>Order #<%= @order.id %></h1>
          </header>
        </th>
        <th>
          <h4>Thank you for your order!</h4>
        </th>
        <th>
          Price
        </th>
        <th>
          Quantity
        </th>
      </tr>
      <tr>
        <th>
          EMAIL:
        </th>
        <th>
          <div><%= @order.email%></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @line_items.each do |line_item| %>
        <% product = line_item.product %>
          <%= render 'item', product: product, quantity: line_item.quantity.to_i %>
        <% end %>
    </tbody>
  <tfoot>
    <tr>
      <th>
        TOTAL:
      </th>
      <th>
        <div><%= humanized_money_with_symbol (@order.total_cents/100.00)%></div>
      </th>
    </tr>
  </tfoot>
</table>
</div>


